In [12]:
%matplotlib inline
import sys
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

from mstat.indexes import FullIndex

In [13]:
with open('rep_1.s') as fd:
    idx = FullIndex(fd.read())
idx.tabs[FullIndex.REV]

   s_i BWT  SA        suff_SA
i
0    a   a  13              #
1    a   a  12             a#
2    b   a  11            aa#
3    b   a  10           aaa#
4    a   b   9          aaaa#
5    a   b   5      aaabaaaa#
6    a   a   6       aabaaaa#
7    b   #   1  aabbaaabaaaa#
8    a   a   7        abaaaa#
9    a   a   2   abbaaabaaaa#
10   a   a   8         baaaa#
11   a   b   4     baaabaaaa#
12   #   a   3    bbaaabaaaa#

In [18]:
for i, s in enumerate(idx.tabs[FullIndex.REV].suff_SA):
    print "%02d" % i, s

00 #
01 a#
02 aa#
03 aaa#
04 aaaa#
05 aaabaaaa#
06 aabaaaa#
07 aabbaaabaaaa#
08 abaaaa#
09 abbaaabaaaa#
10 baaaa#
11 baaabaaaa#
12 bbaaabaaaa#