In [2]:
import sys
sys.path.append("../../py_interface/")
from mstat import indexes

*** using base directory: /home/odenas/code/matching_statistics/indexed_ms/fast_ms/bin ***

In [24]:

def get_s(fname):
    with open(fname) as fd:
        return fd.read().strip()

s = get_s('mut_200s_64t_15.s')
t = get_s('mut_200s_64t_15.t')
print(s)
print(t)
idx = (indexes.MatchingStatistics.ms_table(t, s).assign(psum = lambda x: x.MS.cumsum() - 1))
idx.head(5)

bcaddcbdaaadccddaacacbcbcbcccccacabbbddddcddcdcaddddacaabdbbdadacacdbbcadcbbcaaccacbabdbcbaaabbbbccadaccdaaaadddabdcbcbcbbcaacdaaadcacaddcdbcdbdbcaccbcaaacaccdabacdaacdacaadbdbbaabdadaccddbabdaacdcdbb
acaddcbdaaadccdbaacacbcbcbccccaacabbbddddcddcccaddddacaabdbbaada

   t_i  MS  nzeros          ms  runs  psum
i
-1       1       0                -1     0
 0   a   6       6     0000001     0     6
 1   c  14       9  0000000001     0    20
 2   a  13       0           1     1    33
 3   d  12       0           1     1    45

In [30]:
_ridx_str = "0 6 6 56 96 111 117 117 117 167 207 224 232 232 232 282 322 337 345 345 345 395 435 451 461"
ridx = list(map(int, _ridx_str.split()))
len(ridx)

25

In [31]:
idx.shape

(65, 6)