In [27]:
import sys
sys.path.append("../../py_interface/")
from mstat import indexes

In [28]:

def get_s(fname):
    with open(fname) as fd:
        return fd.read().strip()

s = get_s('mut_200s_64t_15.s')
t = get_s('mut_200s_64t_15.t')
print(s)
print(t)
idx = indexes.MatchingStatistics.ms_table(t, s)
idx.head(15)

bcaddcbdaaadccddaacacbcbcbcccccacabbbddddcddcdcaddddacaabdbbdadacacdbbcadcbbcaaccacbabdbcbaaabbbbccadaccdaaaadddabdcbcbcbbcaacdaaadcacaddcdbcdbdbcaccbcaaacaccdabacdaacdacaadbdbbaabdadaccddbabdaacdcdbb
acaddcbdaaadccdbaacacbcbcbccccaacabbbddddcddcccaddddacaabdbbaada

    t_i  MS  nzeros          ms  runs
i
-1        1       0                -1
 0    a   6       6     0000001     0
 1    c  14       9  0000000001     0
 2    a  13       0           1     1
 3    d  12       0           1     1
 4    d  11       0           1     1
 5    c  10       0           1     1
 6    b   9       0           1     1
 7    d   8       0           1     1
 8    a   7       0           1     1
 9    a   6       0           1     1
 10   a   5       0           1     1
 11   d   4       0           1     1
 12   c   3       0           1     1
 13   c   3       1          01     0

In [24]:
import numpy as np
idx[1:18].assign(ms_idx = lambda x: (x.nzeros + 1).cumsum() - 1)

   t_i  MS  nzeros             ms  runs  ms_idx
i
0    a   6       6        0000001     0       6
1    c  14       9     0000000001     0      16
2    a  13       0              1     1      17
3    d  12       0              1     1      18
4    d  11       0              1     1      19
5    c  10       0              1     1      20
6    b   9       0              1     1      21
7    d   8       0              1     1      22
8    a   7       0              1     1      23
9    a   6       0              1     1      24
10   a   5       0              1     1      25
11   d   4       0              1     1      26
12   c   3       0              1     1      27
13   c   3       1             01     0      29
14   d   3       1             01     0      31
15   b   3       1             01     0      33
16   a  14      12  0000000000001     0      46

In [ ]:
0000001
0123456